html {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

a {
color: #1772d0;
text-decoration:none;
}
a:focus, a:hover {
color: #f09228;
}
body {
  font-size: 14px
}
name {
  font-size: 32px;
}
body,td,th,tr,p,a,papertitle {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px
}
papertitle {
font-weight: 700
}
.page_selector td{
  font-size: 20px;
  color: #1772d0;
  cursor: pointer;
  caret-color: transparent;
}
.page_selector td:focus, .page_selector td:hover{
  font-size: 20px;
  color: #f09228;
}
